# PHP LDAP Admin
location ~ ^/pla(.*)\.php$ {
    include /etc/nginx/templates/hsts.tmpl;
    include /etc/nginx/templates/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME /opt/pla$1.php;
}

location ~ ^/pla(.*) {
    alias /opt/pla$1;
    index index.php;
}

location ~ ^/(VERSION)$ { deny all; }
